<%= form_with model: doc do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% doc.errors.full_messages_for(:title).each do |message| %>
     <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <% doc.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>  
    <% end %>
  </div>    

  <div>
    <%= form.submit %>
  </div>
<% end %>


