<h1><%= @doc.title %></h1>

<p><%= @doc.body %></p>
<ul>
  <li><%= link_to "Edit", edit_doc_path(@doc) %></li>
  <li><%= button_to "Delete", doc_path(@doc),method: :delete, data: { turbo: false } %>
                  </li>
</ul>

<h2>Comments</h2>
<%= render @doc.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>